:host {
  ::ng-deep .p-menubar-root-list {
    border-radius: 1rem;
  }
}
.bg {
  background-image: url('./../../../assets/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}