<form #categoryForm="ngForm" (submit)="addCategorie(categoryForm)" >
  <div class="mb-3">
    <label for="categoryName">Nom de la categorie</label>
    <input class="w-full" id="categoryName" autocomplete="off"
      pInputText pSize="small" name="category" required minlength="3" [(ngModel)]="categoryName" />
  </div>

  <div class="my-3 transition-opacity pointer-events-none" [class]="categoryName ? 'visible opacity-100' : 'invisible opacity-0'">
    <app-chip class='block text-center' [label]="categoryName ?? ''" [color]="foregroundColor" [bg]="backgroundColor" />
  </div>

  <div class="mb-3 flex justify-between gap-2">
    <div class="flex flex-col items-center gap-1">
      <label class="inline-block text-sm" for="color">Couleur de texte</label>
      <p-colorpicker [required]="true" [(ngModel)]="foregroundColor" name="color" inputId="color" format="hex" styleClass="border-1 border rounded" />
    </div>
    <div class="flex flex-col items-center gap-1">
      <label class="inline-block text-sm" for="bg">Couleur de fond</label>
      <p-colorpicker [required]="true" [(ngModel)]="backgroundColor" name="bg" inputId="bg" format="hex" styleClass="border-1 border rounded" />
    </div>
  </div>

  <p-button type="submit" [loading]="isSubmiting" [disabled]="categoryForm.invalid" pRipple variant="outlined" size="small" label="Enregistrer" icon="pi pi-save" styleClass="w-full" />
</form>

<p-toast />