<div class="min-h-screen flex justify-center items-center">
  <div class="p-5 pt-10 md:bg-slate-50 md:shadow-lg rounded w-full md:w-1/2 md:max-w-md">
    <div class="text-center mb-5">
      <div class="text-surface-900 uppercase text-3xl font-medium mb-3">Fi-control</div>
      <div class="text-surface-600 text-sm mb-3">Bienvenue dans votre espace financier
        <i class="pi pi-wallet" style="color: var(--p-primary-color);"></i>
      </div>
    </div>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p-floatlabel class="mb-5" variant="on">
        <label for="email">Email</label>
        <input id="email" type="text" class="w-full" autocomplete="username" pInputText formControlName="email">
      </p-floatlabel>

      <p-floatlabel class="mb-5" variant="on">
        <p-password inputId="password" autocomplete="current-password"
          inputStyleClass="w-full" styleClass="w-full"
          formControlName="password" [toggleMask]="true" [feedback]="false" />
        <label for="password">Mots de passe</label>
      </p-floatlabel>

      <p class="mb-4 text-end"><a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a></p>
  
      <p-button [loading]="loading" type="submit" pRipple label="Se connecter" icon="pi pi-user" styleClass="w-full" />
    </form>
  </div>
</div>