<div class="lg:flex lg:gap-3 lg:justify-center lg:items-start">
  <div class="lg:flex-1 flex flex-col gap-2">
    @for (expense of expenses; track expense.id) {
      <app-expense-card [expense]="expense" (delete)="onDelete(expense.id)" (edit)="onEdit(expense)" />
    }
  </div>
  <p-card class="mt-5 block lg:mt-0 lg:w-96 lg:sticky top-[70px]">
    <p-button size="large" [styleClass]="'mb-4 w-full'" label="Ajouter une dépense" icon="pi pi-add" (onClick)="displayForm = true" />
    <app-category-form />
    <app-category-list />
  </p-card>
</div>

<p-drawer [(visible)]="displayForm" header="Ajouter une dépense" position="right" [styleClass]="'lg:!w-3/4 xl:!w-2/3 2xl:!w-1/2'">
  <app-expense-form [categories]="categories()" (saved)="displayForm = false; refreshData()" />
</p-drawer>