
@let category = expense.category;
<p-card>
  <div class="flex justify-between items-center gap-1.5">
    <div class="flex flex-col gap-1">
      <h3 class="font-semibold text-xl">{{ expense.title }}</h3>
      @if (category) {
        <app-chip [label]="category.name" [bg]="category.bg" [color]="category.color" />
      }
      <span class="text-neutral-500 text-xs first-letter:uppercase">{{ expense.date | date }}</span>
    </div>
    <div class="flex items-center gap-0.5">
      <div class="text-end col-span-2 md:col-span-1 font-bold text-xl text-nowrap">{{ expense.amount | currency }}</div>
      <p-menu #menuContext [popup]="true" [model]="menus" />
      <p-button icon="pi pi-ellipsis-v" [rounded]="true" [text]="true" severity="contrast"
        (click)="menuContext.toggle($event)"/>
    </div>
  </div>
</p-card>
<p-confirmdialog />
